[Unit]
Description=Veda's distributed currency daemon
After=network.target

[Service]
User=vedacore
Group=vedacore

Type=forking
PIDFile=/var/lib/vedad/vedad.pid
ExecStart=/usr/bin/vedad -daemon -pid=/var/lib/vedad/vedad.pid \
-conf=/etc/vedacore/veda.conf -datadir=/var/lib/vedad -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
